.search-form{
  background-color: rgb(18, 118, 118);
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px; 
   padding-top: 20px;
max-width: 600px;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
border-color: rgb(117, 57, 78);
button {
  color:white;
  border: 3px solid rgb(117, 57, 78);
  background-color:rgb(186, 127, 148) ;
  position: relative;
  border-radius: 50px;
  margin-left: 50px;
  padding: 15px;
  width:100px;
}}
